In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Vaccine_authorized data

In [2]:
df = pd.read_csv('Vaccines-Authorized.csv')

In [3]:
df.head()

,Country,Sputnik,Date-Authorized,Source,CNBG,Date-Authorized.1,Source.1,Pfizer-BioNTech,Date-Authorized.2,Source.2,Astrazeneca,Date-Authorized.3,Source.3,Moderna,Date-Authorized.4,Source.4,J&J,Date-Authorized.5,Source.5
0,ARE,Authorized,2021-01-21,NaN,Authorized,2020-09-15,NaN,Authorized,2020-12-23,NaN,Authorized,2021-02-02,NaN,Not-Authorized,NaN,NaN,Not-Authorized,NaN,NaN
1,BHR,Authorized,2021-02-10,NaN,Authorized,2020-12-13,NaN,Authorized,2020-12-04,NaN,Authorized,2021-01-27,NaN,Not-Authorized,NaN,NaN,Authorized,2021-02-25,NaN
2,DZA,Authorized,2021-01-10,NaN,Not-Authorized,NaN,NaN,Not-Authorized,NaN,NaN,Not-Authorized,NaN,NaN,Not-Authorized,NaN,NaN,Not-Authorized,NaN,NaN
3,EGY,Authorized,2021-02-24,NaN,Authorized,2021-01-04,NaN,Not-Authorized,NaN,NaN,Authorized,2021-02-01,NaN,Not-Authorized,NaN,NaN,Not-Authorized,NaN,NaN
4,IRQ,Not-Authorized,NaN,NaN,Authorized,2021-01-19,NaN,Authorized,2020-12-27,NaN,Authorized,2021-01-19,NaN,Not-Authorized,NaN,NaN,Not-Authorized,NaN,NaN

In [4]:
df.columns

Index(['Country', 'Sputnik', 'Date-Authorized', 'Source', 'CNBG',
       'Date-Authorized.1', 'Source.1', 'Pfizer-BioNTech', 'Date-Authorized.2',
       'Source.2', 'Astrazeneca', 'Date-Authorized.3', 'Source.3', 'Moderna',
       'Date-Authorized.4', 'Source.4', 'J&J', 'Date-Authorized.5',
       'Source.5'],
      dtype='object')

# Data collection for each vaccine

In [6]:
vaccine = input('From Which vaccine do you want to collect data Sputnik CNBG Pfizer-BioNTech  Astrazeneca  Moderna? ')

From Which vaccine do you want to collect data Sputnik CNBG Pfizer-BioNTech  Astrazeneca  Moderna? Moderna

In [7]:
if vaccine == 'Sputnik':

    df_new=df.groupby([str(vaccine)])['Country', 'Date-Authorized']
    df_new.head()

elif  vaccine == 'CNBG':
    
    df_new=df.groupby([str(vaccine)])['Country', 'Date-Authorized.1']
    df_new.head()
    
elif  vaccine == 'Pfizer-BioNTech':   
    
    df_new=df.groupby([str(vaccine)])['Country', 'Date-Authorized.2']
    df_new.head()
    
elif  vaccine == 'Astrazeneca':
    
    df_new=df.groupby([str(vaccine)])['Country', 'Date-Authorized.3']
    df_new.head()
    
else:
    
    df_new=df.groupby([str(vaccine)])['Country', 'Date-Authorized.4']
    df_new.head()

<ipython-input-7-930958c5318e>:23: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_new=df.groupby([str(vaccine)])['Country', 'Date-Authorized.4']

In [10]:
df_new.head()

   Country Date-Authorized.4
0      ARE               NaN
1      BHR               NaN
2      DZA               NaN
3      EGY               NaN
4      IRQ               NaN
5      ISR        2021-02-04
10     MAR               NaN
12     OMN               NaN
14     QAT        2021-02-10
15     SAU        2021-01-18